@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#000000;
  background-image: 
    radial-gradient(at 0% 0%, rgb(0, 0, 0) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgba(250, 254, 36, 0.221) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgba(58, 46, 8, 0.713) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#000000;
  background-image: 
    radial-gradient(at 0% 0%, rgb(0, 0, 0) 0, transparent 50%), 
    radial-gradient(at 50% 100%, rgb(89, 80, 39) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #000000;
  background-image: 
    radial-gradient(at 0% 100%, rgb(21, 21, 15) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(89, 80, 39) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #000000;
  background-image: 
    radial-gradient(at 0% 80%, rgb(0, 0, 0) 0, transparent 50%), 
    radial-gradient(at 50% 150%, rgba(162, 164, 57, 0.329) 0, transparent 50%);
}

.yellowgreen-glassmorphism {
  background: rgba(24, 25, 11, 0.598);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#9ba711;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(88, 88, 79) 0, transparent 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
